/* Gaya Dasar untuk Container Utama */

#root {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

/* Container Utama */
.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100vh;
  background-color: #fff4e6; /* Warna krem terang */
}

/* Container Logo */
.logo-container {
  width: 100%;
  background-color: white;
  padding: 20px 0;
  display: flex;
  justify-content: flex-start; /* Mengatur logo ke sebelah kiri */
}

/* Box Logo */
.logo-box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 237px; /* Lebar logo sesuai permintaan */
  height: 56px; /* Tinggi logo sesuai permintaan */
  margin-left: 20px; /* Memberikan sedikit jarak dari tepi kiri */
}

.logo {
  width: 100%; /* Agar logo menyesuaikan ukuran box */
  height: auto;
}

/* Container Login */
.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px; /* Sesuaikan margin atas */
  padding: 36px 0; /* Kurangi padding atas dan bawah */
  width: 100%; /* Lebar penuh */
  height: auto; /* Tinggi otomatis */
}

/* Box Login */
.login-box {
  text-align: center;
  width: 100%; /* Gunakan 100% lebar */
  max-width: 600px; /* Lebar maksimum diperbesar */
  padding: 40px; /* Padding lebih besar untuk konten */
  background-color: #ffffff; /* Latar belakang putih untuk login box */
  border-radius: 12px; /* Sudut yang dibulatkan lebih besar */
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15); /* Bayangan lebih besar */
}

/* Heading dan Paragraf */
.login-box h2 {
  font-family: "Poppins", sans-serif;
  font-size: 2em; /* Ukuran font judul lebih besar */
  color: #333; /* Warna teks */
  margin: 0 0 20px; /* Jarak bawah */
}

.login-box p {
  font-family: "Poppins", sans-serif;
  text-align: center; /* Teks di tengah */
  color: #666; /* Warna teks */
  margin: 0 0 30px; /* Jarak bawah */
}

/* Styling untuk form */
form {
  font-family: "DM Sans", sans-serif;
  color: #666; /* Warna teks */
  text-align: left;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 15px; /* Jarak antar elemen form ditambah */
}

/* Styling untuk input */
.input-field {
  font-family: "Poppins", sans-serif;
  width: 100%; /* Lebar penuh */
  padding: 15px; /* Padding lebih besar */
  border: 2px solid #dcdcdc; /* Border */
  border-radius: 8px; /* Sudut yang dibulatkan */
  font-size: 1.1em; /* Ukuran font */
  box-sizing: border-box; /* Memastikan padding termasuk dalam lebar */
}

/* Styling untuk password container */
.password-container {
  position: relative; /* Untuk posisi ikon password */
}

.password-container input {
  padding-right: 40px; /* Ruang untuk ikon */
}

.required {
  color: red; /* Warna merah */
  font-weight: bold; /* Agar teks terlihat lebih menonjol (opsional) */
}

/* Styling untuk password icon */
.password-icon {
  position: absolute; /* Posisi absolut untuk ikon */
  top: 50%; /* Menempatkan di tengah vertikal */
  left: calc(100% - 35px); /* Jarak dari kanan */
  transform: translateY(-10%); /* Memindahkan ke tengah */
  font-size: 1.5em; /* Ukuran font ikon */
  color: #333; /* Warna ikon */
  cursor: pointer; /* Kursor pointer */
}

/* Styling untuk form actions */
.forgot-password {
  font-family: "DM Sans", sans-serif;
  font-weight: 500;
  color: #626364; /* Warna untuk teks lupa password */
  text-decoration: none; /* Tanpa garis bawah */
  font-size: 16px; /* Ukuran font */
  margin-bottom: 10px; /* Jarak bawah */
  display: block; /* Menggunakan block untuk lebar penuh */
  text-align: right; /* Teks di kanan */
}

.forgot-password:hover {
  text-decoration: underline; /* Garis bawah saat hover */
}

/* Styling untuk buttons */
button {
  padding: 15px; /* Padding dalam tombol lebih besar */
  border-radius: 10px; /* Sudut yang dibulatkan */
  cursor: pointer; /* Kursor pointer */
  font-size: 1.2em; /* Ukuran font tombol lebih besar */
  width: 100%; /* Lebar penuh */
  border: 0; /* Tanpa border */
  background-color: transparent; /* Latar belakang transparan */
  font-weight: bold; /* Ketebalan font */
}

/* Styling untuk tombol login */
.login-button {
  background-color: #3ecf4c; /* Warna hijau */
  color: #fff; /* Warna teks putih */
}

.login-button:hover {
  background-color: #047b1d; /* Warna hijau gelap saat hover */
}

/* Styling untuk tombol daftar */
.register-button {
  color: #3ecf4c; /* Warna hijau */
  background-color: #e2fcd9; /* Latar belakang hijau muda */
  margin-top: 10px; /* Jarak atas */
}

.register-button:hover {
  background-color: #28a745; /* Warna hijau saat hover */
  color: #fff; /* Warna teks putih saat hover */
}

/* Garis pemisah */
.line {
  margin: 20px 0; /* Jarak atas dan bawah */
  border-top: 1px solid #dcdcdc; /* Garis atas */
  text-align: center; /* Teks di tengah */
}

/* Google Login */
.google-login {
  color: #595959; /* Warna teks untuk login Google */
  margin-top: 20px; /* Jarak atas */
}

.google-button {
  background-color: #ffffff; /* Background putih */
  color: #595959; /* Warna teks menjadi #595959 */
  display: flex; /* Menggunakan flexbox untuk konten */
  align-items: center; /* Vertikal center */
  justify-content: center; /* Horizontal center */
  border: 2px solid #dcdcdc; /* Tambahkan border untuk tombol */
}

.google-icon {
  color: #595959; /* Warna ikon Google diubah sesuai teks */
  width: 20px; /* Ukuran ikon Google */
  height: 20px; /* Ukuran ikon Google */
  margin-right: 10px; /* Jarak kanan */
}

/* Media Query untuk Responsivitas */
@media (max-width: 768px) {
  .login-box {
    margin-top: 10px; /* Kurangi margin atas untuk layar lebih kecil */
    width: 80%; /* Lebar 80% pada layar menengah */
    padding: 30px; /* Kurangi padding dalam box */
  }
}

@media (max-width: 480px) {
  .login-box {
    width: 75%; /* Lebar 90% pada layar sangat kecil */
    padding: 20px; /* Kurangi padding dalam box */
  }
}
